/* Just Another Hand */
@font-face {
  font-family: 'Just Another Hand';
  src: url('./JustAnotherHand-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
