/* Lobster Two */
@font-face {
  font-family: 'Lobster Two';
  src: url('./LobsterTwo-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Lobster Two';
  src: url('./LobsterTwo-BoldItalic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Lobster Two';
  src: url('./LobsterTwo-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Lobster Two';
  src: url('./LobsterTwo-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
