/* Petit Formal Script */
@font-face {
  font-family: 'Petit Formal Script';
  src: url('./PetitFormalScript-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
