/* Fraunces */
@font-face {
  font-family: 'Fraunces';
  src: url('./Fraunces-Italic-SOFT-WONK-opsz-wght-.woff2') format('woff2');
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url('./Fraunces-SOFT-WONK-opsz-wght-.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
