/* Monsieur La Doulaise */
@font-face {
  font-family: 'Monsieur La Doulaise';
  src: url('./MonsieurLaDoulaise-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
