/* Libre Caslon Display */
@font-face {
  font-family: 'Libre Caslon Display';
  src: url('./LibreCaslonDisplay-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
