/* Special Gothic */
@font-face {
  font-family: 'Special Gothic';
  src: url('./SpecialGothic-wdth-wght-.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}
