/* Bitcount Ink */
@font-face {
  font-family: 'Bitcount Ink';
  src: url('./BitcountInk-CRSV-ELSH-ELXP-SZP1-SZP2-XPN1-XPN2-YPN1-YPN2-slnt-wght-.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
