/* Londrina Outline */
@font-face {
  font-family: 'Londrina Outline';
  src: url('./LondrinaOutline-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
