/* Playfair Display */
@font-face {
  font-family: 'Playfair Display';
  src: url('./PlayfairDisplay-Italic-wght-.woff2') format('woff2');
  font-style: italic;
  font-weight: 400 900;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./PlayfairDisplay-wght-.woff2') format('woff2');
  font-style: normal;
  font-weight: 400 900;
  font-display: swap;
}
